main {
    max-width: 1250px;
    margin: 50px auto;
    padding: 0 25px;
}
.title {
    margin-bottom: 30px;
    font-size: 25px;
    color: var(--primary-color);
    font-weight: 600;
}
.container {
    display: flex;
    gap: 20px;
}
aside {
    width: 30%;
}